/**
 * Title: E-Access Bulletin web - Graphical style sheet (CSS2).
 * URL:   http://www.headstar.com/eab/includes/graphic.css
 * Rights: Copyright 2004-2014 N.D.Freear.
 */
body, #Body {
  /*font-weight: bold;*/
  padding:     0;
  margin:      0;
  min-width:   655px;
  font-weight: normal;
}
p,li,table,address, h4 { font-size: 1.06em; }

.accesshide {
  position: absolute;
  left: -9999px;
}

/* Undo 'textonly' styles. */
#switch li, #switch, #totop li, #totop, #menu li, #menu
{
  padding:0%;
  margin: 0%;
  border: none;
}

#eab h1 { margin: 1%; }
#eab #main { margin-top: 3%; }
a {
  color:      #640a64; /* #862c86 */
  background: #fdfdfd;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color:      #900;
  background: #fbfbfb;
}
#main a:hover, #foot a:hover { text-decoration: underline; }
#main a.Tab:hover { text-decoration: none; }

#menu, #switch, #totop { font-weight: bold; }
#menu a, #switch a, #totop a { border: 1px solid #a7a; }
#menu a:hover, #switch a:hover, #totop a:hover,
#menu a:focus, #switch a:focus, #totop a:focus { border: 1px solid #900; }

#foot, #totop, #menu { clear: both; }

#top, h1 { margin: 0; }
/*h1  .imgAlt { display:none; }*/
#top {
  background-image: url("../images/eab-band1.png");
  background-repeat:repeat-x;
  width:      100%;
  min-width: 640px;
  height:     93px;
}
#Body h1 { /* #logo */
  background-image: url("../images/eab-logo1.png");
  background-repeat:no-repeat;
  width:  150px;
  height:  93px;
  float:   left;
}
#switch, #search {
  margin:  1%;
  float:   right;
}
.pg-search #search{ display:none; }
#search{ margin: 9px; }
input{ font-size: .95em; }
#search [type=submit]{ font-size: 1.1em; }

blockquote { margin: 4pt; }
ul#menu, #totop {
  margin: 0;
  width: 120px; /*117px;*/
  float: left;
}
#Body ul#menu {
  color:      #000;
  background-color: #c9c;
  background-image: url(../images/corner1.png);
  background-repeat:no-repeat;
  background-position: bottom right;
  list-style: none;
  padding-top:   1em;
  padding-bottom:50px;
 /* min-height: 300px; */
}
#totop { margin-bottom: 1em; }
#menu a, #totop a {
  display: block;
  width:  88%; /*112px;*/
  height: 1.9em;
  line-height: 1.05em; /**/
  padding:.1em;
  padding-left:4pt;
  margin-top:  1%;
}
#switch li, #totop li {
  list-style: none;
  display:    inline;
}
#switch a { padding: 2pt; }
#main {
  width:       80%; /*85%;*/
  min-width:   520px;
  float:       right;
  margin-right:1%;
}
#bulletin, #content {
  width:       70%;
  min-width:   350px;
  float:       left;
  line-height: 1.2em;
  border-right:1px solid #862c86;
}
h2 {
  color:         #862c86;
  background:    #fff;
  padding-bottom:4pt;
  margin-top:    10pt;
  font-weight:   normal;
  border-bottom: 1px solid #862c86;
}
h2 a:hover { text-decoration: none; color: #862c86; }

#menu h3, #totop h3 { position:absolute; left:-999em; } /*display: none;*/
/*  color:      #900; */
#comment {
  width:     25%;
  min-width: 140px;
  float:     right;
}
#comment  blockquote { margin-top: 50pt; }
#foot, #comment {
  font-weight: normal;
}
ul, #foot { font-size: .95em; }
#comment, #switch { font-size: .9em; }
#comment, #content {
  margin: 2pt;
  padding:2pt;
}
li#headstar  a {
  color:      #000;
  background: #c9c;
  height:     90px;
  margin-top: 3em; /*160pt;*/
  /*margin-bottom: 5pt;*/
}
#main { padding-bottom: 5pt; }
#foot { text-align: center; margin-top: 20pt; clear: both; }
#switch { text-align: right; margin-right: 12pt; }

ol.Archive, ul.Archive, ul#notes { list-style: circle; }
#stamp { font-size: 0.95em; margin: 1.4em 0; }
.thKey { width: 30%; }

/* Bulletin styles. */
#eab h1, #eab h2, #eab h3 { text-transform: capitalize; }

/* Homepage, 'current' link */
.pg-index #bulletin li { margin: .4em 0; }
#toCurrent { font-weight: bold; letter-spacing: .05em; }
