/**
 * Title: 'No script' base E-accessibility Stylesheet (CSS2).
 * URL:   http://www.e-accessibility.com/includes/noscript.css
 * Rights: Copyright 2003-07-23 .. 2016-07-12 Nick Freear.
 */
@import "textonly.css";



@media screen
{
  .notice /* #tribute */ {
    font-size: 1.05em;
    text-align: center;
    background: rgb(254, 239, 255);  /* rgb(255, 236, 252) */
    border: 1px solid rgb(182, 141, 192);
    border-radius: 4px;
    margin: 1.5em 120px 1.3em 243px;
  }
  .notice > a {
    display: inline-block;
    width: 100%;
    padding: 6px 0;
    background: transparent;
  }
  .X-pg-archive .notice {
    display: none;
  }


  body, #Body {
    color:       #333;
    background:  #fefefe;
    font: 1em Arial, Helvetica, Geneva, sans-serif;
  }
  pre { font: 1.05em Arial, Helvetica, Geneva, sans-serif; font-weight: normal; }
  p, address, #main li { line-height: 1.3em; }
  a img { border: none; }
  address { font-style: normal; letter-spacing: .05em; }
  acronym, abbr { cursor: help; }

  h1 { font-size: 1.55em; }
  #main table { width: 80%; }
  th, caption { text-align: left; }

  #switch li, #switch, #totop li, #totop, #menu li, #menu
  {
    padding:0%;
    margin: 0%;
  }

  /* Bulletins */
  #toc, #personnel li { list-style: none; }

  #switch li, #totop li, #totop h3 { list-style: none; display: inline; }
  #headstar { width: 92px; height: 90px; }
  #validators img { width: 88px; height: 32px; border: none; }

  /*#switch a:hover:after,#switch a:focus:after,#menu a:hover:after,#menu a:focus:after*/
  /* DISABLE. */
  a.X-Key:hover:after, a.Key:focus:after { content: " [" attr(accesskey) "]"; }
}

.vcard address { font-style: normal; }
.vcard li { margin-top: 0.5em; }
.adr span { display: block; }
.adr span span { display: inline; }
.adr .org span { display: block; }
.adr .region, .adr .postal-code { display: inline; }

del, .vhide { display: none; }
ins { text-decoration: none; }


/* Google custom search.
*/
body .gsc-control-cse,
body .gsc-control-cse .gsc-table-result,
body form.gsc-search-box {
  font-size: .96em;
}
body .gsc-control-cse .gs-result .gs-title *,
form.gsc-search-box input {
  font-size: 1.03em;
}
body .gs-webResult div.gs-visibleUrl,
body .gs-webResult.gs-result a.gs-title:link,
body .gs-webResult.gs-result a.gs-title:link b {
  color: #640a64;
}
body .gs-webResult.gs-result a.gs-title:visited,
body .gs-webResult.gs-result a.gs-title:visited b {
  color: #900;
}
